@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bandp_red: #dc3545;
}

main {
  padding-bottom: 4rem;
}

body {
  background-color: var(--bandp_red);
}

a:hover {
  cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: var(--bandp_red);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--bandp_red);
}
